@font-face {
    font-family: numbersB;
    src: url(./font/Nunito-Bold.ttf);
  }
@font-face {
font-family: numbersBB;
src: url(./font/Nunito-ExtraBold.ttf);
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#output{
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 0;
}
#package {
  display: flex;
  font-family: numbersBB;
  font-size: 7em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#quote {
  font-size: 75%;
  margin: 0;
  font-family: numbersB;
}